export DB_HOST=localhost
export DB_PORT=5432
export POSTGRES_USER=pg
export POSTGRES_DB=testing
export DB_PASSWORD=...
export SECRET_KEY=...
export LDAP_ADMIN_PASSWORD=...
export REDIS_URL=redis://localhost:6379/1
