export PRODUCTION=False # Only set this to False in production environments
export DEVELOPER_EMAIL=your_email@example.com # Emails sent during development will all go to this address, in production this is ignored
export DB_HOST=db-test-smartdorm-V2.schollheim.net
export DB_PORT=5432
export POSTGRES_USER=pg
export POSTGRES_DB=testing
export DB_PASSWORD=...
export SECRET_KEY=...
export LDAP_URI=ldap://ldap-test.schollheim.net:389
export LDAP_ADMIN_PASSWORD=...
export REDIS_URL=redis://localhost:6379/1
export EMAIL_HOST_PASSWORD=...